@font-face {
  font-family: 'NeueCorp';
  font-weight: 200;
  src: url('fonts/PPNeueCorp-NormalUltralight.otf');
}
@font-face {
  font-family: 'NeueCorp';
  font-weight: bold;
  src: url('fonts/PPNeueCorp-CompactMedium.otf');
}
@font-face {
  font-family: 'Noto Sans';
  src: url('fonts/NotoSans-VariableFont_wdth\,wght.ttf');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  src: url('fonts/Lato-Regular.ttf');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  src: url('fonts/Lato-Italic.ttf');
}
@font-face {
  font-family: 'Bitter';
  font-style: normal;
  src: url('fonts/Bitter-VariableFont_wght.ttf');
}
@font-face {
  font-family: 'Bitter';
  font-style: italic;
  src: url('fonts/Bitter-Italic-VariableFont_wght.ttf');
}

:root {
  --font-size: 24px;
  --cell-width: 3rem;
  --cell-height: 2rem;
  --cell-border: 1.2px;
  --selection-offset: 3.6px;
  --selection-border: 1.6px;
  --selection-color: #FF546E;

  font: var(--font-size) sans-serif;
}

body {
  background: #000;
  box-sizing: border-box;
  height: 100vh;
  margin: 0;
  padding: 1rem;

  display: grid;
  grid-template: 1fr / 1fr;
}
main {
  background: #fff;
  border-radius: .5rem;

  display: grid;
  padding: 1rem;
}

#buttons {
  grid-area: 1/1/2/2;
  justify-self: start;
  display: flex;
  flex-direction: column;
  gap: .15rem;
}
#classes {
  grid-area: 1/1/2/2;
  justify-self: end;
  display: flex;
  align-items: end;
  flex-direction: column;
  gap: .15rem;

  div:not([hidden]) {
    display: flex;
    gap: .15rem;
  }
  .class-item:not(.class-common) :first-child {
    font-style: italic;
  }
}

label, button, #class-input {
  font: .7rem 'Lato';
  color: gray;
  background: transparent;

  padding: .1rem .2rem;
  border: .06rem solid lightgray;
  border-radius: 0.25rem;
}
input:not(#class-input) { display: none; }
#class-input {
  width: 3rem;
  outline: none;
}
label, button {
  min-width: 1.075rem;
  width: fit-content;

  .key {
    margin-left: .1rem;
    font-size: .5rem;
    color: lightgray;
  }
  &:hover { cursor: pointer; }
}
button:disabled { color: lightgray; }
label:has(:disabled) { color: lightgray; }

#edit-class {
  padding: .1106537rem .2rem;
  border: .06rem solid lightgray;
  border-radius: 0.25rem;
  button, label {
    text-align: center;
    padding: 0;
    border: none;
    font-family: 'Bitter';
  }
}
label:has(#edit-class-background) {
  color: white;
  background-color: gray;
}
#edit-class-bold { font-weight: bold; }
#edit-class-italic { font-style: italic; }
#edit-class-underline { text-decoration: underline; }


#table-container {
  grid-area: 1/1/2/2;
  place-self: center;
  position: relative;
}
table {
  border-collapse: collapse;
/* 
  thead:after {
      content:"";
      display:block;
      height: var(--tbody-padding);
  } */

  td, th {
    text-align: center;
    align-content: center;

    font: .8rem 'NeueCorp', 'Noto Sans';

    width:  var(--cell-width);
    height: var(--cell-height);
    box-sizing: border-box;
    padding: 0;

    border: var(--cell-border) solid #333;
    user-select: none;
  }
  td { font-weight: 200; }
  th { font-weight: bold; }
  td:focus, th:focus {
    outline: var(--selection-border) solid #34ADFF;
    outline-offset: calc(-1 * var(--selection-offset) + -.5 * var(--cell-border));
  }

  [colspan="2"] { width:  calc(2 * var(--cell-width)); }
  [rowspan="2"] { height: calc(2 * var(--cell-height)); }
  [colspan="3"] { width:  calc(3 * var(--cell-width)); }
  [rowspan="3"] { height: calc(3 * var(--cell-height)); }
  [colspan="4"] { width:  calc(4 * var(--cell-width)); }
  [rowspan="4"] { height: calc(4 * var(--cell-height)); }
}

#selection {
  position: absolute;
  --offset: calc((var(--cell-border)/2 - var(--selection-border)/2 - var(--selection-offset)));
  top: var(--offset);
  left: var(--offset);
  pointer-events: none;
}
