@font-face {
  font-family: 'NeueCorp';
  font-weight: lighter;
  src: url('/fonts/PPNeueCorp-NormalUltralight.otf');
}
@font-face {
  font-family: 'NeueCorp';
  font-weight: bold;
  src: url('/fonts/PPNeueCorp-CompactMedium.otf')
}
@font-face {
  font-family: 'Noto Sans';
  src: url('/fonts/NotoSans-VariableFont_wdth\,wght.ttf')
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  src: url('/fonts/Lato-Regular.ttf')
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  src: url('/fonts/Lato-Italic.ttf')
}
@font-face {
  font-family: 'JetBrains';
  src: url('/fonts/JetBrainsMono[wght].ttf')
}


:root {
  font-size: 20px;
  font-family: sans-serif;
}

body {
  background: #333;
  margin: 2rem;
  display: grid;
  place-items: center;
}
main {
  background: #fff;
  width: 80vw;
  height: 80vh;
  border-radius: .5rem;

  display: grid;
  padding: 1rem;
}

#buttons {
  grid-area: 1/1/2/2;
  justify-self: start;
  display: flex;
  flex-direction: column;
  gap: .15rem;
}
#classes {
  grid-area: 1/1/2/2;
  justify-self: end;
  display: flex;
  align-items: end;
  flex-direction: column;
  gap: .15rem;

  div {
    display: flex;
    gap: .15rem;
  }
  .class-item:not(.class-th) {
    font-style: italic;
  }
}

button {
  font: inherit;
  font-family: 'Lato';
  font-size: .7rem;
  color: gray;
  background: transparent;

  min-width: 1.075rem;
  width: fit-content;
  padding: .1rem .2rem;
  border: .06rem solid lightgray;
  border-radius: 0.25rem;

  .key {
    margin-left: .1rem;
    font-family: sans-serif;
    font-size: .5rem;
    color: lightgray;
  }

  &:disabled {
    display: none;
    color: lightgray;
  }
  &:hover:not(:disabled) {
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
}

.gray {
  background-color: gray;
}

/* 
#text-input {
  width: 7rem;
  padding: .2rem 1rem;

  font-family: 'JetBrains';
  font-size: .75rem;
  border: .06rem solid #333;
  border-radius: 0.25rem;

  &:focus { outline: none; }
} */

#table-container { 
  grid-area: 1/1/2/2;
  place-self: center;
  position: relative; 
}
table {
  border-collapse: collapse;
  th, th:focus {
    outline: dashed 1px lightgray;
    outline-offset: -3px;
  }
  td, th {
    text-align: center;
    align-content: center;
    
    font-family: 'NeueCorp', 'Noto Sans';
    font-weight: 200;
    font-size: .8rem;

    width: 3rem;
    height: 2rem;
    box-sizing: border-box;
    padding: 0;

    border: .06rem solid #333;

    user-select: none;
  }
  td:focus { outline: none; }

  [colspan="2"] { width: 6rem; }
  [rowspan="2"] { height: 4rem; }
  [colspan="3"] { width: 9rem; }
  [rowspan="3"] { height: 6rem; }
  [colspan="4"] { width: 12rem; }
  [rowspan="4"] { height: 8rem; }
}

.selection {
  position: absolute;
  pointer-events: none;

  padding: 0.16rem;
  border: .08rem solid deepskyblue;
}